body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f4ec;
    color: #333;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #481502;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 14px;
    color: #481502;
    margin-bottom: 8px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #c0bba6;
    border-radius: 5px;
    font-size: 14px;
    background: #fdfdfd;
    color: #333;
}

select {
    background-color: #ffffff;
    appearance: none;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #ae370f;
    color: white;
}

button[type="submit"]:hover {
    background-color: #481502;
}

button[type="button"] {
    background-color: #c0bba6;
    color: #481502;
}

button[type="button"]:hover {
    background-color: #ae370f;
    color: white;
}

.flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
